@media screen and (max-width: 910px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
  .button {
    font-size: 1.4vw;
    width: 80px;
  }
  .nav-link {
    font-size: 1.4vw;
    transition: font-size 2s;
  }
  .margin_text {
    margin: 30% 0% 30% 35%;
    /*transition: margin 0.5s ease-out;*/
  }
  .margin_name {
    font-size: 3vw;
    /*transition: font-size 2s;*/
  }
  .margin_text p {
    font-size: 1.5vw;
    /*transition: font-size 2s;*/
  }
  #extra_column {
    width: 50px;
    /*transition: width 2s;*/
  }
  .body {
    background-color: blueviolet;
    transition: background-color 2s;
  }
  #landing {
    padding-top: 4%;
    transition: padding-top 1s;
  }
  .w3-container p {
    font-size: 1.7vw;
  }
}

@media screen and (max-width: 620px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
  .button {
    font-size: 1.75vw;
    width: 60px;
  }
  .button-row button {
    margin-right: 10px;
  }
  .nav-link {
    font-size: 1.75vw;
    transition: font-size 2s;
  }
  .margin_text {
    margin: 30% 0% 30% 30%;
    /*transition: margin 3s;*/
  }
  .margin_name {
    font-size: 4vw;
    /*transition: font-size 2s;*/
  }
  .margin_text p {
    font-size: 2vw;
    /*transition: font-size 2s;*/
  }
  #extra_column {
    width: 10px;
    /*transition: width 2s;*/
  }
  #landing {
    padding-top: 10%;
  }
  .map {
    width: 250rem;
    height: 125rem;
  }
  .social-row img {
    padding-right: 2vw;
    width: 7vw;
  }
  .social-row img:hover {
    width: 8.5vw;
    transition: width 0.5s ease-in-out;
  }
  .w3-container p {
    font-size: 2.5vw;
  }
}
